# Создание DataFrame (pd.DataFrame())
## из словаря

In [1]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
# ключи - имена столбцов
# значения - сщдержание столбцов
# метки(индексы) не заданы => номера п/п
print(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

### Задать метки

In [3]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
print(countries_df) # задали метки

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

## из вложенного списка

In [5]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396], # внутренние строки - строки таблицы
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
print(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

# axis - ось, координата
### axis = 0 - движение по строкам (по умолчанию)
### axis = 1 - по стобцам

In [10]:
countries_df.mean(axis=0) # среднее значение для столбцов (движение вниз)

/var/folders/6v/xtm67gfj6mvb2cz5gv_7rbtr0000gn/T/ipykernel_12648/1904880919.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [11]:
countries_df.mean(axis=1) # среднее значение для строк (движение вправо)

/var/folders/6v/xtm67gfj6mvb2cz5gv_7rbtr0000gn/T/ipykernel_12648/555943002.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

# Доступ к данным в DataFrame

## Доступ к столбцам

In [12]:
countries_df.population # .имя столбца (! только если указано без пробелов)
# возвращается Series

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [13]:
countries_df['population'] # индекс с именем столбца
# возвращается Series

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

## Доступ к ячейкам (loc(имя)/iloc(номер))

In [14]:
# !!! первым всегда указывается индекс(номер) строки, 
# вторым - имя(номер) столбца !!!

countries_df.loc['UK', 'square'] # получить площадь Великобритании

133396

In [15]:
countries_df.loc['RU', ['population', 'square']] # население и площадь России

population      146.24
square        17125191
Name: RU, dtype: object

In [16]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
# вырезка по нескольким значениям

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [17]:
countries_df.iloc[4:8, 1:3] # та же вырезка через срез

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902