In [1]:
import pandas as pd
from IPython.display import display

citi_bike = pd.read_csv('data11/Citi_bike.csv', sep = ',')
display(citi_bike.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Сколько пропусков в столбце start station id?

In [14]:
print(citi_bike['start station id'].shape[0] - citi_bike['start station id'].count())

169

Какой тип данных имеют столбцы starttime и stoptime?

In [17]:
display(citi_bike['starttime'].astype)
display(citi_bike['stoptime'].astype)

<bound method NDFrame.astype of 0         2018-09-01 00:00:05.2690
1         2018-09-01 00:00:11.2810
2         2018-09-01 00:00:20.6490
3         2018-09-01 00:00:21.7460
4         2018-09-01 00:00:27.3150
                    ...
299995    2018-09-05 19:08:27.8460
299996    2018-09-05 19:08:28.3700
299997    2018-09-05 19:08:27.5090
299998    2018-09-05 19:08:29.2300
299999    2018-09-05 19:08:29.7110
Name: starttime, Length: 300000, dtype: object>

<bound method NDFrame.astype of 0         2018-09-01 00:27:20.6340
1         2018-09-01 00:02:23.4810
2         2018-09-01 00:55:58.5470
3         2018-09-01 00:07:38.5830
4         2018-09-01 02:21:25.3080
                    ...
299995    2018-09-05 19:15:51.4940
299996    2018-09-05 19:20:01.5080
299997    2018-09-05 19:13:40.5060
299998    2018-09-05 20:04:29.3220
299999    2018-09-05 19:12:14.7620
Name: stoptime, Length: 300000, dtype: object>

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [19]:
citi_bike['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

Велосипед с каким идентификатором является самым популярным?

In [20]:
citi_bike['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [21]:
citi_bike['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше

In [22]:
citi_bike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу?

In [24]:
print(citi_bike['start station id'].nunique())
print(citi_bike['end station id'].nunique())

759
765

В рассматриваемые дни минимальный возраст клиента составлял 10 лет?

In [25]:
citi_bike['birth year'].max()

2002

Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"?

In [28]:
citi_bike['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [30]:
citi_bike['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [31]:
citi_bike = citi_bike.drop(['start station id', 'end station id'], axis = 1)
citi_bike.shape

(300000, 12)

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [32]:
display(citi_bike['birth year']) # узнаем тип данных в таблице

0         1980
1         1969
2         1975
3         1984
4         1994
          ...
299995    1990
299996    1982
299997    1991
299998    1975
299999    1966
Name: birth year, Length: 300000, dtype: int64

In [2]:
citi_bike['birth year'] = pd.to_datetime(citi_bike['birth year'], format='%Y')
# привели к datetime
display(citi_bike['birth year'])

0        1980-01-01
1        1969-01-01
2        1975-01-01
3        1984-01-01
4        1994-01-01
            ...
299995   1990-01-01
299996   1982-01-01
299997   1991-01-01
299998   1975-01-01
299999   1966-01-01
Name: birth year, Length: 300000, dtype: datetime64[ns]

In [13]:
delta_years = pd.to_datetime('2018-01-01') - citi_bike['birth year']
# возраст, формат timedelta, в днях
citi_bike['age'] = delta_years.dt.days//365
# в кол-во дней, в годы
display(citi_bike['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [17]:
old = 0
for age in citi_bike['age']:
    if age > 60:
        old += 1
print(old)

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.
Для того чтобы преобразовать временной интервал timedelta в секунды, используется атрибут seconds (в datetime атрибут был second — в единственном числе).

In [40]:
stoptime = pd.to_datetime(citi_bike['stoptime'])
starttime = pd.to_datetime(citi_bike['starttime'])
citi_bike['trip duration'] = stoptime - starttime
citi_bike['trip duration'].dt.seconds.mean()

999.9145033333333

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [58]:
citi_bike['weekend'] = starttime.dt.dayofweek

def if_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
        
citi_bike['weekend'] = citi_bike['weekend'].apply(if_weekend)
display(citi_bike['weekend'].sum())

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [66]:
citi_bike['time_of_day'] = starttime.dt.hour

def period(hour):
    if 0 <= hour <=6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day' 
    elif 18 < hour <= 23:
        return 'evening'
    
citi_bike['time_of_day'] = citi_bike['time_of_day'].apply(period)

day = citi_bike[citi_bike['time_of_day'] == 'day'].shape[0]
night = citi_bike[citi_bike['time_of_day'] == 'night'].shape[0]
print(day/night)

9.480411004308916