# Проект: Анализ вакансий на hh.ru

In [1]:
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Перед чтением обратите внимание на разделитель внутри файла.

In [9]:
dst = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';', names=['Пол, возраст', 'ЗП', 'Ищет работу на должность:', 'Город, переезд, командировки', 'Занятость', 'График', 'Опыт работы', 'Последнее/нынешнее место работы', 'Последняя/нынешняя должность', 'Образование и ВУЗ', 'Обновление резюме', 'Авто'])
display(dst)

Empty DataFrame
Columns: [Пол, возраст, ЗП, Ищет работу на должность:, Город, переезд, командировки, Занятость, График, Опыт работы, Последнее/нынешнее место работы, Последняя/нынешняя должность, Образование и ВУЗ, Обновление резюме, Авто]
Index: []